.btn {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    height: 32px;    
    background-color: white;
    font-size: 14px;
    border-radius: 2px;
    padding: 4px 15px;
    transition: all .3s cubic-bezier(.645,.045,.355,1);    
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);    
    cursor: pointer;
    outline: none;
    border: 1px solid #d9d9d9;
}

.btnDefault {    
    color: rgba(0,0,0,.85);
}
.btnDefault:hover {
    color: #40a9ff;    
    border-color: #40a9ff;
}

.btnDanger {
    color: red;
    border: 1px solid red;
}

.btnDanger:hover {
    opacity: .5;
}

.btn[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }